*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Tahoma;
    font-size: 12px;

}
#container{
    width: 980px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
