*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Tahoma;
    font-size: 12px;

}
#container{
    width: 980px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
img{

    width: 150px;
    height: 170px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
img {
    display: inline;

}
h2{
    display: inline;
}
.address{
   position: absolute;
    right: 150px;
}