*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Tahoma;
    font-size: 12px;

}
#container{
    width: 980px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
img{

    width: 150px;
    height: 170px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

h2{
    display: inline;
    color: green;

}
.address{
   position: absolute;
    right: 150px;
}
#jump{
    display: none;
    height: auto;
    width: 200px;
    background-color:#F7E8AF;
    border: 1px solid;
    border-radius: 3px;
    padding: 3px;

}
#jump h3{
    text-align: center;
    color: #9A7C0E;
}
#jump p{
    padding-bottom: 10px;
    text-align: center;
}
#clock {
    position: absolute;
    right: 150px;
    top: 0;
    font-size: 14px;
    background-color: lightpink;
}